ONEPASSWORD_ACCOUNT_NAME=Our Family
hostname=www.1password.community
username=op://TUI_Reader/v5altvci6cnslgjwz4xuxcfvfa/username
password=op://TUI_Reader/v5altvci6cnslgjwz4xuxcfvfa/password
sessionStartTime=
sessionLastUsed=
sessionKey=
tapestry=t5
GEMINI_API_KEY=op://TUI_Reader/3tt5ayci5iiabjatrqfd4xfw5e/credential
BLUESKY_HANDLE=op://TUI_Reader/Bluesky/username
BLUESKY_APP_PASSWORD=op://TUI_Reader/Bluesky/password
MASTODON_SERVER=op://TUI_Reader/Mastodon Bearer/hostname
MASTODON_ACCESS_TOKEN=op://TUI_Reader/Mastodon Bearer/credential
