#main {
    layout: horizontal;
    height: 100%;
}

#message-list {
    width: 30%;
    border: round cornflowerblue;
}

#message-viewer {
    width: 70%;
    border: round lightseagreen;
    padding: 1 2;
    overflow: auto;
}

#filter-input {
    dock: top;
    height: 3;
    background: blue;
    border: round white;
    margin: 1;
}

#debug-widget {
    dock: bottom;
    height: 3;
    background: darkblue;
    border: round white;
    margin: 1;
    display: none;
}

#keyboard-commands {
    dock: bottom;
    height: 3;
    background: darkgreen;
    border: round white;
    margin: 0;
    padding: 0;
    color: white;
}